.banner-feature {
    background-color: #af2813;
    padding: 30px 0;
    color: white;
}
.banner-feature a {
    color: white;
}
.banner-feature a:hover {
    text-decoration: underline;
}

.banner-feature ul li {

}
@media print, screen and (max-width: 39.9988em) {
    .row-callout {
        height: auto;
    }
}
span.menu-name {
  color: #004868;
  font-weight: 800;
  font-size: 1.3em;
}
.menu-icon::after {
  background: #004868;
  box-shadow: 0 7px 0 #004868,0 14px 0 #004868;
  height: 3px;
  top: -3px;
}
