h1 {
  color: $primary-color;
}
h2 {
  color: #af2813;
  text-transform: uppercase;
  font-size: 1.3125rem;
  font-weight: normal;
  line-height: 1.2em;
}
body {
  background: url(/themes/lighthouse/images/pattern.jpg);
}

header {
  @include breakpoint(small down) {
    background-color: #aaa;
  }
}
.brand-wrapper {
  @include breakpoint(small down) {
    height: 160px;
  }
}
#responsive-menu {
  background-color: $light-blue;
  margin-top:60px;
  @include breakpoint(small down) {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top:0px;
  }
  ul.menu {
    justify-content: flex-end;
    a {
      color: white;
      font-weight:bold;
    }
    li:hover {
      background-color: $secondary-color;
    }
  }
}


span.menu-name {
  color: #fff;
}
#site-menu-icon {
  @include breakpoint(small down) {
    display:inline-block;
    padding: 20px 0;
  }
}
.drilldown a {
  @include breakpoint(small down) {
    background-color: transparent;
  }
}

#brand_logo {
  position: absolute;
  z-index:100;
  margin-top:10px;
  display:inline-block;
  background-color: $primary-color;
  border: 2px solid #fff;
  @include breakpoint(small down) {
    width: 240px;
  }
}
.front #brand_logo {
  padding: 16px;
  img {
    height: auto;
  }
}
#brand_logo {
  padding: 11px;
  img {
    height: 90px;
  }
}
main {
  margin-top: 50px;
  padding-bottom: 40px;
}
.front main {
  margin-top:0;
}
.messages > div {
  background-color: #6b6;
  padding: 6px 10px;
  color: #fff;
  margin-bottom: 10px;
  display:inline-block;
}
.messages > div.hidden {
  display:none;
}

.row-callout {
  background: url(/themes/lighthouse/images/red_callout_bg.jpg) transparent 0 0;
  height: 257px;
  @include breakpoint(small down) {
    /*height: 320px;*/
  }
  
  color: white;
  margin: 90px 0 0 0;
  padding: 40px 0;
  p {
    font-size:25px;
    line-height: 30px;
    font-family: "berthold_citylight","Helvetica Neue","Helvetica",sans-serif;
    text-rendering: optimizeLegibility;
    color: #ECECEC;
    margin-bottom:0;
    @include breakpoint(small down) {
      font-size: 18px;
      margin: 0 10px;
    }
  }
  a {
    color:white;
    font-weight:bold;
  }
  a:hover {
    text-decoration: underline;
  }
  .large_call_sub {
    font-size: 4.3125rem;
    line-height: 40px;
    color: #f63718;
    font-family: "berthold_citylight","Helvetica Neue","Helvetica",sans-serif;
    text-rendering: optimizeLegibility;
    @include breakpoint(small down) {
      font-size:2.313rem;
      line-height: 35px;
    }
  }
  .large_call {
    font-size: 4.3125rem;
    color: #ececec;
    font-family: "berthold_citybold","Helvetica Neue","Helvetica",sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    @include breakpoint(small down) {
      font-size:2.8rem;
      line-height: 47px;
    }
  }
}
.row-4-callout {
  display:flex;
  justify-content: flex-end;
  .large-callout {
    max-width: 480px;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 10px solid #f63718;
    margin-left: 33px;
    @include breakpoint(small down) {
      max-width: 260px;
    }
  }
}

.right {
  float: right;
  margin-left: 20px;
}
.left {
  float:left;
  margin-right:14px;
}
footer {
  .footer-blue {
    min-height: 68px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 25px 50px 25px 50px;
    background-color: #004868;
    color: #59afd5;
    a {
      color: #59afd5;
    }
  }
  .gray {
    background-color: #ddd;
    color: #3D7C80;
    font-size: 10px;
    padding: 10px 0;
    text-align: right;
    margin-top: 40px;
    a {
      color: #3D7C80;
    }
  }
}
#block-websiteby {
  text-align: right;
}

.tabs-primary ul {
  padding:7px 1em;
  border-radius: 4px 4px 0 0;
  position: relative;
  width: auto;
  top: 0;
  border-bottom: 0;
  margin: 0 -4px;
  li {
    display:inline-block;
    list-style:none;
    margin:0;
    a {
      border: 1px solid #aaaaaa;
      background-color: $light-gray;
      padding: 2px 1em;
      border-radius: 4px 4px 0 0;
      font-size:0.9em;
    }
    a.is-active {
      background-color: #fafafa;
      border-color: $medium-gray;
    }
    a:hover {
      background-color: #fafafa;
    }
    a.is-active:hover {
      background-color: white;
    }
  }
}
figcaption {
  font-size: 11px;
  line-height: 16px;
}

blockquote {
  border: none;
  p {
    color: $body-font-color
  }
}

.notice {
  font-size:14px;
  line-height: 18px;
  p {
    margin:0;
  }
}
.notice-warning {
  background-color: #e33;
  border: 1px solid #ddbbbb;
  padding: 4px 14px;
  p {
    color: white;
    margin-bottom:0;
  }
  a {
    color: yellow;
  }
  a:hover {
    text-decoration: underline;
  }
}
.view-whats-new, #block-learnaboutthehistory {
  margin-top: 50px;
}
.view-whats-new .views-row .image {
  width: 150px;
  float: left;
  margin-right: 10px;
}
.view-whats-new .views-row {
  clear:left;
  padding-bottom: 20px;
  margin-bottom: 20px;
  overflow:auto;
  border-bottom: 1px solid #ccc;
}
.view-whats-new .views-row h2 {
  font-family: "berthold_citymedium","Trebuchet MS","Helvetica Neue","Helvetica",sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: none;
}
a.button {
  font-family: "good_news_regcondensed","Helvetica Neue","Helvetica",sans-serif;
  text-transform: uppercase;
  padding: 6px 25px;
  font-size: 1.3125rem;
  -webkit-box-shadow: #b7b3ae 5px 5px 0px;
  -moz-box-shadow: #b7b3ae 5px 5px 0px;
  box-shadow: #b7b3ae 5px 5px 0px;
  background-color: #0a6a94;
}
.node-page main .field.image {
  float: left;
  padding-right: 12px;
  margin-right: 16px;
}
.field.body ul.by-float {
  overflow: hidden;
  padding-left: 20px;
}